<% use Glayu.EEx %>
<div id="wrapper">
    <!-- Sidebar -->
    <%= partial "sidebar" %>
    <div id="page-content-wrapper" class="category">
        <%= partial "mobile-head" %>
        <div class="container">
            <%= partial "category-head" %>
            <div id="main">
                <% featured = category_posts(@page.category.keys, [limit: 3, sort_fn: &(&1.score > &2.score)])%>
                <%= if length(featured) >= 3 do %>
                <section class="featured">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="collection">
                                <% first = Enum.at(featured, 0) %>
                                <div class="article">
                                    <%= if first[:featured_image] do %>
                                    <img src="<%= first.featured_image %>"
                                         alt="featured image" class="thumbnail img-responsive">
                                    <% end %>
                                    <h2><a href="<%= first.path %>"><%= first.title %></a>
                                    </h2>
                                    <p class="byline"> By <%= first[:author] %> <span class="timestamp"><%= Date.format(first.date, "%Y-%m-%d %H:%M") %></span>
                                    </p>
                                    <%= first.summary %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="collection">
                                <% second = Enum.at(featured, 1) %>
                                <div class="article">
                                    <%= if second[:featured_image] do %>
                                    <img src="<%= second.featured_image %>"
                                         alt="featured image" class="thumbnail img-responsive">
                                    <% end %>
                                    <h2><a href="<%= second.path %>"><%= second.title %></a>
                                    </h2>
                                    <p class="byline"> By <%= second[:author] %> <span class="timestamp"><%= Date.format(second.date, "%Y-%m-%d %H:%M") %></span>
                                    </p>
                                    <%= second.summary %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="collection">
                                <% third = Enum.at(featured, 2) %>
                                <div class="article">
                                    <%= if third[:featured_image] do %>
                                    <img src="<%= third.featured_image %>"
                                         alt="featured image" class="thumbnail img-responsive">
                                    <% end %>
                                    <h2><a href="<%= third.path %>"><%= third.title %></a>
                                    </h2>
                                    <p class="byline"> By <%= third[:author] %> <span class="timestamp"><%= Date.format(third.date, "%Y-%m-%d %H:%M") %></span>
                                    </p>
                                    <%= third.summary %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <% end %>
                <%= for subcategory <- subcategories(@page.category.keys) do %>
                <section class="subsection">
                    <div class="row">
                        <div class="section-header col-md-12">
                            <h2><a href="<%= subcategory.path %>"><%= subcategory.name %></a></h2>
                        </div>
                    </div>
                    <div class="row">
                        <%= for post <- category_posts(subcategory.keys, [limit: 4, sort_fn: &(&1.score > &2.score)]) do %>
                        <div class="col-md-3">
                            <div class="collection">
                                <div class="article">
                                    <%= if post[:featured_image] do %>
                                    <img src="<%= post.featured_image %>" alt="featured image"
                                         class="thumbnail img-responsive">
                                    <% end %>
                                    <h2><a href="<%= post.path %>"><%= post.title %></a></h2>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </section>
                <% end %>
                <section class="latest">
                    <div class="row">
                        <div class="section-header col-md-12">
                            <h2>Latest</h2>
                        </div>
                    </div>
                    <div class="collection">
                        <%= for post <- category_posts(@page.category.keys, [limit: 10]) do %>
                        <div class="article">
                            <div class="row">
                                <div class="col-md-2">
                                    <p><span class="timestamp"><%= Date.format(post.date, "%Y-%m-%d %H:%M") %></span></p>
                                </div>
                                <div class="col-md-7">
                                    <h2><a href="<%= post.path %>"><%= post.title %></a>
                                    </h2>
                                    <%= post.summary %>
                                    <p class="byline"> By <%= post[:author] %></p>
                                </div>
                                <div class="col-md-2">
                                    <%= if post[:featured_image] do %>
                                    <img src="<%= post.featured_image %>" alt="featured image"
                                         class="thumbnail img-responsive">
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <%= end %>
                    </div>
                </section>
            </div>
        </div> <!-- /container -->
        <!-- Site footer -->
        <div class="container">
            <%= partial "footer" %>
        </div>
    </div> <!-- /#page-content-wrapper -->
</div> <!-- /wrapper -->