<% use Glayu.EEx %>
<div id="wrapper">
    <!-- Sidebar -->
    <%= partial "sidebar" %>
    <div id="page-content-wrapper" class="article-details">
        <%= partial "mobile-head" %>
        <div class="container">
        	<%= partial "article-head" %>
            <!-- Example row of columns -->
            <div id="main">
                <section>
                    <div class="article">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="categories">
                                    <%= for category <- @page.categories do %>
                                    <li><a href="<%= category.path %>" class="category"><span><%= category.name %></span></a></li>
                                    <% end %>
                                 </ul>
                                <h1><%= @page.title %></h1>
                                <p class="byline"> By <%= @page[:author] %> <span class="timestamp"><%= Date.format(@page.date, "%Y-%m-%d %H:%M") %></span></p>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="content">
                                    <%= if @page[:featured_image] do %>
                                    <figure>
                                        <img src="<%= @page.featured_image %>"
                                             alt="featured image" class="thumbnail img-responsive">
                                    </figure>
                                    <% end %>
                                    <%= @page.content %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Site footer -->
        <div class="container">
            <%= partial "footer" %>
        </div>
    </div> <!-- /container -->
</div> <!-- /#page-content-wrapper -->
</div> <!-- /wrapper -->